@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

:root {
    --bg-simple: #f8f8f8;
    font-size: 16px;
    letter-spacing: .02rem;
    /*faire une media query des fonts avec variable */
}

* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../source/test4.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
}

a:hover, a {
    text-decoration: none;
}

body {
    background-color: #1e2023;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    object-fit: cover;
}

.bigTitre {
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 2%;
    font-family: 'Lexend Peta', sans-serif;
    color: #eee7e7;

}

/* navbar début */
header .navbar {
    position: fixed;
    background-color: rgba(26, 27, 29, 0.43);
    right: 40px;
    top: 40px;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 20;
}


header .navbar .hamburger {
    width: 30px;
    height: 2px;
    display: inline-block;
    transition: 0.2s;
    background-color: #dfdfec;
    top: 23px;
    left: 10px;

}

header .navbar .hamburger::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 10px;
    width: 30px;
    height: 2px;
    display: inline-block;
    margin: auto;
    transition: all 0.2s;
    background-color: #e3e3ec;
}

header .navbar .hamburger::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 10px;
    width: 30px;
    height: 2px;
    display: inline-block;
    margin: auto;
    transition: all 0.2s;
    background-color: #efe8e8;

}

header .nav-back {
    background-image: linear-gradient(to right, #0e6cde, #920cf1);
    background-size: cover;

    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 42px;
    right: 42px;
    z-index: 11;
    transition: all 0.5s;
}


header .item-list {


    width: 100%;
    height: 20vh;
    position: relative;
    opacity: 0;

    transition: all 0.3s cubic-bezier(.17, .67, .83, .67);
    z-index: 17;
}

header .navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -13%);
    text-align: center;

    z-index: 13;
}

header .navi li {
    list-style: none;
    margin: 20px;
}

header .navi li a {
    color: #fdfffc;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, transparent 50%, #fff 50%);
    background-size: 200%;
    transition: all 0.2s;
    font-family: 'Open Sans', sans-serif;
}


header .navi li a:hover {
    color: #011627;
    background-position: 100%;
}

header .check {
    display: none;
}

header .check:checked ~ .nav-back {
    transform: scale(80);
}


header .check:checked ~ .item-list {
    opacity: 1;
    width: 100%;
    transition-delay: 0.2s;
}

header .check:checked ~ .navbar .hamburger {
    background: transparent;
}

header .check:checked ~ .navbar .hamburger::before {
    transform: rotate(45deg);
    top: 24px;
}

header .check:checked ~ .navbar .hamburger::after {
    transform: rotate(-45deg);
    top: 24px;
}

/* navbar fin */

.Accueil {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    text-shadow: 4px 2px 4px rgba(18, 18, 0, 0.67);

}

.homeTitre {
    text-align: center;
    padding-top: 25vh;
    font-size: 3rem;
    color: rgb(23, 83, 231);
    font-family: 'Lexend Peta', sans-serif;
}

.txt-dev {
    text-align: center;
    padding-top: .3rem;
    font-size: 3rem;
    color: rgb(238, 242, 243);
    font-family: 'Lexend Peta', sans-serif;
    margin-bottom: 15vh;
}

.cv {
    margin-top: 10%;
}

/* ----------------Projet----------------------- */
#Projets {
    padding-top: .15rem;
}

.l-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
}

@media screen and (max-width: 760px) {
    .l-container {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
}

.b-game-card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-bottom: 150%;
    perspective: 1000px;
}

.b-game-card__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px #004ffc;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out;
}

.b-game-card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.b-game-card:hover .b-game-card__cover {
    transform: rotateX(7deg) translateY(-6px);
}

.b-game-card:hover .b-game-card__cover::after {
    transform: translateY(0%);
}

.b-game-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.b-game-card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}


/*------------------------------------------ A propos----------------------------------------*/


#about {
    padding-top: 4rem;
    background: linear-gradient(270deg, #2f56a9, #000000, #097fd2);
    background-size: 600% 600%;
    display: flex;
    padding-bottom: 10%;
    width: 100%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}


.presentationBox {
    background-color: rgba(12, 7, 2, 0.75);
    border-radius: 30px;
    margin: auto;
    width: 45vw;
    box-shadow: 0 0 10px white;
}

.imgProfil {
    width: 65%;
    height: auto;
    border-radius: 15px;
}

.txt-profil h1 {
    color: #5F00BA;
    font-size: 2rem;
}

.txt-profil p {
    color: #F9FCF7;
    font-size: 100%;
}

.txt-profil {

}

/*------------------------------------ parcours Css ----------------------------------------*/

/* Base */
.bg-main {
    background-color: rgba(14, 14, 14, 0.9);
    padding-bottom: 2%;
}

.parcours-main p {
    font-weight: 300;
}

.parcours-main a {
    color: #6c6d6d;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: .3em;
    font-size: .6em;
    font-weight: 400;
    background: #252727;
    padding: .3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
}

strong {
    font-weight: 600;
}

.parcours-main h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.4em;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}

/* Timeline */
.timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}

.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px #004ffc;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

/* ---------------------------------contact part-------------------------------------*/


#contact {
    justify-content: center;
    align-items: center;
    display: flex;
}


/* page projet */
.titre-projet {
    color: #19b1ff;
}

.txt-projet {
    background-color: #19b1ff;
}

.img-projet {
    background-color: limegreen;
}

.fa-arrow-alt-circle-left {
    font-size: 3rem;
}


